
.thumbnail {
	height: 500px;


.image {
	height: 250px;
}

}

.noborder {
	border: none;
}

.detailPhoto {
	border: solid black 1px;
	width: 900px;
	height: 900px;


.detailimage {
	height: 600px;
}

}